@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(circle, rgb(255, 241, 165) 0%, rgb(200, 125, 76) 30%, rgb(83, 54, 54) 100%); */
    background: radial-gradient(circle, rgb(54, 35, 35) 30%, rgb(200, 125, 76) 100%);
}

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.card {
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 90vw;
    max-width: 35rem;
    border-radius: 30px;
    background: #fff;
    padding: 0rem 5rem;
    box-shadow: 0 15px 50px rgba(255, 255, 255, 0.2), 0px 0px 10px;
    transition: transform 0.5s ease-in-out;
}

.sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.container:hover .sneaker img {
    transform: rotateZ(-45deg);
}

.sneaker img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3)) saturate(200%) brightness(110%) contrast(100%);
}

.circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.9;
}

.info {
    position: relative;
    transition: all 0.5s ease-in-out;
    font-family: 'Quicksand', sans-serif;
}

.info h1.title {
    font-size: 3rem;
    font-weight: 2000;
    transition: all 0.75s ease-out;
    text-shadow: 0 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.info h3 {
    font-size: 1.2rem;
    padding: 2rem 0rem;
    color: #555;
    transition: all 0.75s ease-out;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.sizes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 0.75s ease-out;
}

.sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1), 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    color: #585858;
    transition: all 0.3s;
}

.sizes button.active {
    background: #585858;
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03), 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.purchase {
    margin-top: 3rem;
    transition: all 0.75s ease-out;
}

.purchase button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1rem 0;
    /* background: linear-gradient(to left, rgb(255, 241, 165) 0%, rgb(200, 125, 76) 30%, rgb(83, 54, 54) 100.5%); */
    background: linear-gradient(to left, rgb(200, 125, 76) 0%, rgb(83, 54, 54) 100%);
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Unbounded', cursive;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    transition: all 0.3s;
    opacity: 0.9;
}

.purchase button:hover {
    opacity: 1;
}

.purchase button:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%) translateY(4px);
}

@media (max-width:850px) {
    .card {
        padding: 0rem 2rem;
    }
    .sizes button {
        padding: 1rem;
        border-radius: 50%;
    }
    .info h3 {
        padding: 0;
        margin-bottom: 1rem;
    }
    .purchase {
        margin-top: 1.5rem;
    }
}